@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding : 0
}

body {
    font-size: 16px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    // background-image: url('../images/common/bg-black.jpg');
}

p {
    padding-bottom: 20px;
}


.bg-paper {
    background-image: url('../images/common/bg-paper.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.mask {
    width: 100%;
    -webkit-mask-image: url('../../assets/images/common/mask.svg');
    mask-image: url('../../assets/images/common/mask.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
}

.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.boxShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}


// CATALOGUE
.accordion-content {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-out;
}

.accordion-content.open {
    height: auto;
}

.accordion-content-inner {
    padding: 0 10px;
    transition: padding 0.3s ease-out;
}

.accordion-content-inner.open {
    padding: 35px 10px 30px;
}

.resume-reading {
    width: 2px;
    height: 40px;
    background-color: black;
    position: relative;
}



// NOTICE (Capsule)
.iconMapBack svg {
    transition: stroke 2s ease-in-out;
}

.notice-filter {
    background: linear-gradient(180deg, rgba(0, 194, 255, 0.2) 0%, rgba(0, 163, 255, 0) 14.5%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}


// TIRET
.tiret::after {
    content: "—";
    padding: 0 10px;
}


// IMAGE ZOOM 
.react-transform-component {
    width: unset !important;
    height: unset !important;
}

.react-transform-wrapper {
    width: unset !important;
    height: unset !important;
}



// ATELIER DE L'HISTORIEN
.navbar-title {
    position: relative;
    color: black;
    opacity: 0.2;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    
    &:hover {
        opacity: 1;
    }

    &.active {
        opacity: 1;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 60%;
            z-index: -1;
            width: 100%;
            height: 20px;
            background-color: #6EDFFB;
            opacity: 0.6;
        }
    }
}



// CARTE SPATIO-TEMPORELLE
.mapboxgl-ctrl-attrib-inner, .mapboxgl-ctrl-logo, .mapboxgl-ctrl {
    display: none!important;
}

.multi-range-slider {
    border: none;
    padding: 20px 10px;
    box-shadow: none;

    .labels {
        margin-top: 14px;
        position: relative;

        .label {
            color: white;
            font-size: 18px;
            font-family: "Abril Fatface", serif;
        }

        .label:nth-child(2n) {
            display: none;
        }
        .label:nth-child(4n-1) {
            display: none;
        }


        @media screen and (max-width: 768px) {
            .label:not(:first-child):not(:last-child) {
                display: none;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .labels {
            margin-top: 35px;
        }
    }



    .bar {
        position: relative;

        @media screen and (min-width: 768px) {
            &::before {
                content: "";
                height: 1px;
                background-color: white;
                position: absolute;
                top: 2px;
                left: -200px;
                right: -200px;
            }
            
        }

        .bar-left,
        .bar-inner,
        .bar-right {
            padding: 1px 0px;
            background-color: white;
            box-shadow: none;
            border: none;
            position: relative;
        }

        .bar-inner::after {
            content: '';
            width: 100%;
            height: 30px;
            background: black;
            opacity: 0.5;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 100;
            transition: all 0.3s ease-in-out;
        }



        .bar-inner:hover::after {
            background: black;
            opacity: 0.5;
            height: 40px;
            width: auto;
            position: absolute;
            left: -20px;
            right: -20px;
            border-radius: 20px;
        }

        @media screen and (min-width: 768px) {
            .bar-inner, .bar-left, .bar-right {
                padding: 2px 0px;
            }

            .bar-inner:hover::after {
                height: 60px;
                left: -50px;
                right: -50px;
            }
        }

        .thumb {
            z-index: 101;
        }

        .thumb::before {
            margin: -8px -10px;
            border-radius: 0;
            transform: rotate(45deg);
        }

        // .thumb-right:hover::before {
        //     background-color: green;
        // }
        

        @media screen and (min-width: 768px) {
            .caption {
                display: none!important;
            }
        }
    
        .thumb .caption * {
            position: absolute;
            min-width: 30px;
            height: 20px;
            font-size: 15px;
            text-align: center;
            line-height: 30px;
            background-color: transparent;
            border-radius: 15px;
            color: white;
            box-shadow: none;
            padding: 0px 5px;
            white-space: nowrap;
            font-family: "Abril Fatface", serif;
        }
    }

    .ruler {
        overflow: visible;
        margin: -24px 0px -5px 0px;

        .ruler-rule {
            border-bottom: none;
            border-left: 1px solid white;
            position: relative;
            top: 14px;
            height: 16px;
        }

        .ruler-rule:last-child {
            border-right: 1px solid white;
        }

        @media screen and (min-width: 768px) {
            .ruler-rule {
                border-left: 2px solid white;
            }

            .ruler-rule:nth-child(4n+1){
                border: none;
                padding: 15px 0px;
                position: relative;
                top: 0;
        
                &::after {
                    content: '';
                    width: 15px;
                    height: 15px;
                    background: white;
                    transform: translateX(-50%) rotate(45deg);
                    position: absolute;
                }
            }  
        }
    }
}


.bottom-gradient {
    height: 160px;
    width: 100%;
    background: rgb(71,93,169);
    background: linear-gradient(0deg, rgba(71,93,169,1) 0%, rgba(71,93,169,0) 100%);
}

.icon-arrow {
    width: 25px;
    height: 1.5px;
    background: black;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.icon-arrow::before,
.icon-arrow::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 1.5px;
    background: black;
}

.icon-arrow::before {
    transform: rotate(45deg);
    transform-origin: right bottom;
}

.icon-arrow::after {
    transform: rotate(-45deg);
    transform-origin: right top;
}

.button-arrow:hover .icon-arrow {
    width: 50px;
}



// CATALOGUE
.theme {
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        background: black;
        width: 65px;
        height: 1px;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }
}



// NOTE
.note {
    h2 {
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-size: 20px;
        border-bottom: 1px solid black;
        font-family: "Abril Fatface", serif;
    
        ~ p {
            margin-left: 20px;
            font-size: 22px;
            list-style: disc;
            font-weight: 400;
            padding-bottom: 10px;
    
            &::before {
                content: '•';
                color: black;
                font-size: 1.2em;
                margin-right: 8px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    .medias .relative svg,
    .medias .relative .rounded-full {
        display: none;
    }
}


// SWIPER 
.swiper-pagination {
    height: 30px;
    // height: 100px;
    display: flex;
    justify-content: center;
}
.swiper-pagination-bullet { 
    display: inline-block;
    margin: 10px;
    height: 10px; 
    width: 10px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;

    &.swiper-pagination-bullet-active {
        background: white;
    }
}


// REACT PDF 
.react-pdf__Page {
    background-color: transparent !important;
}
