@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding : 0
}

body {
    font-size: 16px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
}

p {
    padding-bottom: 20px;
}


// FONTS
.abril {
    font-family: "Abril Fatface", serif;
}

.antonio {
    font-family: "Antonio", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sofia {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
}


// COLORS
.blue {
    color: #6EDFFB;
}


.mask {
    width: 100%;
    -webkit-mask-image: url('../../assets/images/common/mask.svg');
    mask-image: url('../../assets/images/common/mask.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
}




// CATALOGUE
progress::-moz-progress-bar { 
    background: black; 
}


progress::-webkit-progress-value { 
    background: #6EDFFB; 
}


progress::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.15); 
}

progress { 
    width: 100%;
    height: 20px;
    padding: 4px 0;
    color: #6EDFFB; 
}

.accordion-content {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-out;
}

.accordion-content.open {
    height: auto;
}

.accordion-content-inner {
    padding: 0 10px;
    transition: padding 0.3s ease-out;
}

.accordion-content-inner.open {
    padding: 35px 10px 30px;
}



// NOTICE (Capsule)
.iconMapBack svg {
    transition: stroke 2s ease-in-out;
}

video {
    border-radius: 6px;
}

.notice-filter {
    background: linear-gradient(180deg, rgba(0, 194, 255, 0.2) 0%, rgba(0, 163, 255, 0) 14.5%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}





// IMAGE ZOOM 
.react-transform-component {
    width: unset !important;
    height: unset !important;
}

.react-transform-wrapper {
    width: unset !important;
    height: unset !important;
}



// ATELIER DE L'HISTORIEN
.navbar-title {
    position: relative;
    color: black;
    opacity: 0.2;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    
    &:hover {
        opacity: 1;
    }

    &.active {
        opacity: 1;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 60%;
            z-index: -1;
            width: 100%;
            height: 20px;
            background-color: #6EDFFB;
            opacity: 0.6;
        }
    }
}



.btn-filter {
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: black;
        color: white;
    }

    span {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        border: 1px solid black;
        background-color: white;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        color: black;
    }
}